# STM32H7B0VBT FK7B0M1_VBT6 board

# Copyright (c) 2023 Charles Dias <charlesdias.cd@outlook.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_CUSTOM_STM32H7B0
	bool "Custom board based on FANKE FK7B0M1-VBT6 board V1.0"
	depends on SOC_STM32H7B0XX
